.textarea-video{
    margin: 1rem 5rem;
}
.textarea-label{
    display: block;
    font-size:16px;
    color: aliceblue;
    font-weight: 500;
    margin: .5rem auto;
}
.textarea-textarea{
    width: 92%;
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    color: #82868A;
    font-size: 16px;
    box-sizing: border-box;
}

