.vid-1 {
    width: 32%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    border-style: solid;
    border-width: 3px;
  }
  
  .title-video {
    color: aliceblue;
    font-size: 2vw;
    margin: 0;
    padding: 1rem;
    text-align: center;
    min-height: 4em; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-video {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-top: solid 3px;
    border-bottom: solid 3px;
    object-fit:contain;
  }
  
  .descripcion-video {
    color: aliceblue;
    padding: 1rem;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .borrar-editar {
    display: flex;
    padding: 1rem 0 .5rem 0;
    justify-content: space-evenly;
    margin-top: auto;
  }
  
  .buttons {
    width: 6rem;
    height: 2rem;
    font-size: 1.2rem;
    color: aliceblue;
    background-color: #191919;
    border: none;
    text-align: right;
    cursor: pointer;
  }
  
  .edit-button {
    background-image: url('../../../public/img/Edit-icon.png');
    background-repeat: no-repeat;
  }
  
  @media(max-width:768px) {
    .vid-1 {
      min-width: 100%;
      margin: 1rem 0;
      flex: 0 0 auto;
    }
    .title-video{
        font-size: 1.5rem;
    }
    .image-video{
        height: 100%;
    }
  }