.header{
    display: flex;
    padding: 2rem;
    background-color: #262626;
    justify-content: space-between;
    border-bottom: solid 2px rgba(107, 209, 255);
}
.seccion-buttons{
    width: 20%;
    display: flex;
}
.new-video-button{
    width: 100%;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    font-size: large;
    color: #FFFFFF;
    border: solid 2px;
    border-color: #FFFFFF;
    border-radius: 10px;
    background-color: #262626;
    box-shadow: inset 0px 0px 5px rgb(255, 255, 255, 1);
    padding: .8rem;
    cursor: pointer;
}
.new-button-section{
    width: 100%;
}
@media(max-width:768px){
    .header{
        display: none;
    }
}