.campo-texto-post{
    margin: 1rem 5rem;
}
.campo-texto-label{
    display: block;
    font-size:16px;
    color: aliceblue;
    font-weight: 500;
    margin: .5rem auto;
}
.campo-texto-input{
    width: 92%;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 18px;
    box-sizing: border-box;
}