.innovacion-videos{
    display: flex;
    height: auto;
    background-color: #191919;
}
.title-innovacion{
    margin: 1rem 3rem;
    color: aliceblue;
    background-color: #ffba05;
    max-width: 400px;
    font-size: 2rem;
    border-radius: 5px;
    text-align: center;
    padding: .5rem .2rem;
}
.innovacion-seccion{
    width: 100%;
}
.fichas-video{
    display: flex;
    width: 92.5%;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem auto;
}
.innovacion-vid-1{
    width: 32%;
    border: solid 3px;
    border-color: #ffba05;
    border-radius: 10px;
    text-align: center;
}
.title-video{
    color: aliceblue;
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;
}
.inn-image-video{
    width: 100%;
    border: solid 3px #ffba05;
    height: auto;
    object-fit: cover;
}
.descripcion-video{
    color:aliceblue;
    padding: 1rem;
    margin: 0;
}
.borrar-editar{
    display: flex;
    padding: 1rem 0 .5rem 0;
    justify-content: space-evenly;
}
.buttons{
    width: 6rem;
    height: 2rem;
    font-size: 1.2rem;
    color: aliceblue;
    background-color: #191919;
    border: none;
    text-align: right;
    cursor: pointer;
}
.delete-button{
    background-image: url('../../../public/img/Trash-icon.png');
    background-repeat: no-repeat;
}
.edit-button{
    background-image: url('../../../public/img/Edit-icon.png');
    background-repeat: no-repeat;
}
@media(max-width:768px){
    .title-innovacion{
    margin: 1rem auto;
    }
   .innovacion-seccion{
    padding: 0 1rem;
   }
   .fichas-video{
    width: 100%;
    margin: 1rem auto;
    flex-direction: column !important;
   }
   .innovacion-vid-1{
    width: 100%;
    max-width: 425px;
    margin: 2rem auto;
   }
}
